<template>
    <div class="row">

        <div class="s53__headings">
            <span class="icon-arrow-right"></span> New items
        </div>

        <div class="col-md-3 col-sm-6" v-for="item in items">

            <div class="s53__item-box">
                <div class="s53__item-title">
                    {{ item.name }}
                </div>
                <div class="s53__util-relative">
                    <img class="s53__item-img" :src="item.img_url">
                    <button class="s53__add-btn"
                        @click="addToCart(item.id, $event)"
                    >Add to cart</button>
                </div>
                <div class="s53__item-info">
                    <span class="s53__util-font400">{{ item.price }} EUR</strong> <br>
                    Availability <span class="s53__avail" :class="availability(item.stock)"></span> <br>
                    <a class="s53__a" href="#">More informations</a>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        mounted() {
            this.fetchItems();
        },

        props: ['src', 'class'],

        data: function() {
            return {
                items: [],
            };
        },

        methods: {
            fetchItems: function () {
                this.$http.get('/api/items').then((response) => {
                    this.items = response.data;
                }, (response) => {
                    console.log(response);
                });
            },

            addToCart: function (id, event) {
                event.target.disabled = true;
                this.$http.post('/api/items/add').then((response) => {
                }, (response) => {
                    console.log(response);
                });
                event.target.content = 'Added!';
            },

            availability: function (stock) {
                if (stock < 1) {
                    return 'none';
                } else if (stock >= 1 && stock <= 5) {
                    return 'med';
                } else {
                    return  'hi';
                } 
            },
        }
    }
</script>