<template>

	<div class="s53__sidebar">
		<div class="container">

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="s53__sidebar-el">
					<div class="row">
						<div class="col-xs-5 col-sm-6">
							<div class="s53__sidebar-left">
								<span class="s53__sidebar-icon icon-grid"></span>
							</div>
						</div>
						<div class="col-xs-7 col-sm-6">
							<div class="s53__sidebar-body">
								<ul>
									<a href="#"><li>New</li></a>
									<a href="#"><li>All</li></a>
									<a href="#"><li>Categories</li></a>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="s53__sidebar-el">
					<div class="row">
						<div class="col-xs-5 col-sm-6">
							<div class="s53__sidebar-left">
								<span class="s53__sidebar-icon icon-user"></span>
							</div>
						</div>
						<div class="col-xs-7 col-sm-6">
							<div class="s53__sidebar-body">
								<ul v-if="isConnected">
									<a href="/login"><li>Login</li></a>
									<a href="/register"><li>Register</li></a>
								</ul>
								<ul v-else>
									<a href="/settings"><li>Settings</li></a>
									<a href="/"><li>Orders</li></a>
									<a href="/logout"><li>Logout</li></a>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="s53__sidebar-el">
					<div class="row">
						<div class="col-xs-5 col-sm-6">
							<div class="s53__sidebar-left">
								<span class="s53__sidebar-icon icon-basket"></span>
							</div>
						</div>
						<div class="col-xs-7 col-sm-6">
							<div class="s53__sidebar-body">
								<ul>
									<li>Empty cart</li>
									<li></li>
									<a href="/cart"><li></li></a>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	
</template>

<script>
	export default {
		mounted() {
		},

		methods: {
			isConnected: function () {
				this.$http.get('/api/isConnected').then((response) => {
					return response;
				});
			}
		}
	}
</script>