
// Fonts
@import url(https://fonts.googleapis.com/css?family=Fredoka+One|Work+Sans:300,400,700);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Simple Line Fonts
$simple-line-font-path: "/fonts/sli/";
$simple-line-font-family: "simple-line-icons";
$simple-line-icon-prefix: "icon-";
@import "node_modules/simple-line-icons/scss/simple-line-icons.scss";

body {
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 300;
	background-color: #f1f1f1;
	color: #333;
}

a,
a:hover,
a:focus,
a:active {
	color: #00b1b3;
	text-transform: none;
	text-decoration: none;
}

.s53__nav {
	font-size: 16px;
	height: 50px;
	//margin-bottom: 10px;
	border-bottom: 2px solid #00b1b3;
	background-color: #fff;
}

.s53__brand {
	font-family: 'Fredoka One', cursive;
	height: auto;
	font-weight: 400;
	color: #00b1b3;
	font-size: 1.9em;
}

.s53__brand:hover,
.s53__brand:focus,
.s53__brand:active {
	color: #00b1b3;
}

.s53__searchbar {
	margin-top: 6px;
}

.s53__searchbar-input {
	display: block;
	width: 60%;
	float:right;
	height: 36px;
	padding-left: 10px;
	padding-right: 50px;
	font-size: 14px;
	line-height: 1.6;
	color: #333;
	background-color: transparent;
	border: 1px solid #00b1b3;
	border-radius: 2px;
	transition: all ease-in 150ms;
}

.s53__searchbar-btn {
	border: none;
	position: absolute;
	right: 1px;
	top: 1px;
	background-color: #fff;
	padding: 9px 10px;
	color: #00b1b3;
	border-left: 1px solid #00b1b3;
}

@media screen and (max-width: 768px) {	
	body {
		font-size: 14px;
	}

	.s53__nav {
		height: 98px;
	}

	.s53__brand {
		display: block;
		text-align: center;
	}	

	.s53__searchbar {
		margin: 0;
	}

	.s53__searchbar-input {
		width: 100%;
	}
}

.s53__searchbar-input:focus {
	background-color: #00b1b3;
	color: #fff;
}

.s53__searchbar-input::placeholder {
	color: #00b1b3;
}

.s53__searchbar-input:focus::placeholder {
	color: #fff;
}

.s53__body {
	//padding-top: 50px;
	//border-left: 1px dashed #666;
	//border-right: 1px dashed #666;
}

.s53__sidebar {
	background: -webkit-linear-gradient(135deg,#00b1b3,#1d5086);
	background: linear-gradient(-45deg,#00b1b3,#1d5086);
	padding-top: 20px;
	font-weight: 400;
	font-size: 16px;
}

.s53__sidebar-el {
	margin-bottom: 20px;
}

.s53__sidebar-left {
	border-right: 1.3px solid #fff;
	text-align: right;
	padding-top: 2px;
	padding-right: 20px;
	height: 75px;
}

.s53__sidebar-icon {
	color: #fff;
	font-size: 4.3em;
}

a > .s53__sidebar-icon:hover {
	color: #0facf3;
}

.s53__sidebar-body {
	line-height: 1.3;
	color: #fff;
}

.s53__sidebar-body > ul {
	margin: 0;
	list-style: none;
	text-align: left;
	padding: 0;
}

.s53__sidebar-body > ul > li,
.s53__sidebar-body > ul > a > li {
	padding: 2px;
	transition: all ease-in 100ms;
}

.s53__sidebar-body > ul > a {
	color: #ffc857;
}

.s53__sidebar-body > ul > a > li:hover {
	background-color: #ffc857;
	border-radius: 2px;
	color: #fff;
	padding-left: 10px;
}

.s53__main {
	padding-top: 20px;
}

.s53__item-box {
	border-radius: 2px;
	margin-bottom: 15px;
}

.s53__item-title {
	padding: 5px 10px;
	font-weight: 400;
	background-color: #4d545d;
	color: #fff;
	font-weight: 400;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.s53__item-img {
	width: 100%;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}

.s53__add-btn {
	position: absolute;
	border: none;
	background: #ffc857;
	color: #fff;
	right: 8px;
	bottom: 8px;
	border-radius: 4px;
	font-weight: 400;
	width: 60%;
}

.s53__add-btn:hover {
	background-color: #ffe1a3;
}

.s53__add-btn:active {
	bottom: 5px;
}

.s53__item-info {
	padding: 5px 10px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.s53__headings {
	margin: 0 15px 20px 15px;
	font-size: 1.5em;
}

.s53__headings > span {
	font-size: .75em;
	color: #00b1b3;
}

.s53__margb10 {
	margin-bottom: 10px;
}

.s53__util-relative {
	position: relative;
}

.s53__util-font400 {
	font-weight: 400;
}

.s53__a:hover {
	text-decoration: underline;
}

.s53__avail {
	height: 10px;
	width: 10px;
	display: inline-block;
	border-radius: 5px;
}

.low {
	background-color: #ac3931;
}

.med {
	background-color: #8fbfe0;
}

.hi {
	background-color: #6da34d;
}